<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepertmentListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepertmentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.htc</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.eot</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimListServlet</servlet-name>
        <url-pattern>/SimListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimFormServlet</servlet-name>
        <url-pattern>/SimFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimSaveServlet</servlet-name>
        <url-pattern>/SimSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimDeleteServlet</servlet-name>
        <url-pattern>/SimDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListServlet</servlet-name>
        <url-pattern>/ProjectListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFormServlet</servlet-name>
        <url-pattern>/ProjectFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSaveServlet</servlet-name>
        <url-pattern>/ProjectSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <url-pattern>/ProjectDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigFormServlet</servlet-name>
        <url-pattern>/ConfigFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigListServlet</servlet-name>
        <url-pattern>/ConfigListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <url-pattern>/ConfigSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <url-pattern>/ConfigDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepertmentListServlet</servlet-name>
        <url-pattern>/DepertmentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <url-pattern>/DepartmentFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <url-pattern>/DepartmentSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <url-pattern>/DepartmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionListServlet</servlet-name>
        <url-pattern>/PositionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionFormServlet</servlet-name>
        <url-pattern>/PositionFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionSaveServlet</servlet-name>
        <url-pattern>/PositionSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionDeleteServlet</servlet-name>
        <url-pattern>/PositionDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/dashboard.jsp</welcome-file>
    </welcome-file-list>
</web-app>
