<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiredSimServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.ExpiredSimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.project.ProjectDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.authen.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.config.ConfigDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepertmentListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepertmentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.department.DepartmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.position.PositionDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseSearchServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.testcase.TestcaseSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimSearchServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.team.TeamListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.mail.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.testcase.TestcaseFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimHistoryServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.sim.SimHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeSearchServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.knowledge.KnowledgeSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.user.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeSaveServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.knowledge.KnowledgeSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.knowledge.KnowledgeFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.knowledge.KnowledgeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.knowledge.KnowledgeDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.team.TeamFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamSaveFormServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.team.TeamSaveFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.team.TeamDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestcaseListServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.testcase.TestcaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseDeleteServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.testcase.TestcaseDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseAddServlet</servlet-name>
        <servlet-class>th.co.ais.tdims.action.testcase.TestcaseAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.htc</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.eot</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimListServlet</servlet-name>
        <url-pattern>/SimListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimFormServlet</servlet-name>
        <url-pattern>/SimFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimSaveServlet</servlet-name>
        <url-pattern>/SimSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimDeleteServlet</servlet-name>
        <url-pattern>/SimDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiredSimServlet</servlet-name>
        <url-pattern>/ExpiredSimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListServlet</servlet-name>
        <url-pattern>/ProjectListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFormServlet</servlet-name>
        <url-pattern>/ProjectFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSaveServlet</servlet-name>
        <url-pattern>/ProjectSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <url-pattern>/ProjectDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigFormServlet</servlet-name>
        <url-pattern>/ConfigFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigListServlet</servlet-name>
        <url-pattern>/ConfigListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <url-pattern>/ConfigSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <url-pattern>/ConfigDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepertmentListServlet</servlet-name>
        <url-pattern>/DepertmentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <url-pattern>/DepartmentFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <url-pattern>/DepartmentSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <url-pattern>/DepartmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionListServlet</servlet-name>
        <url-pattern>/PositionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionFormServlet</servlet-name>
        <url-pattern>/PositionFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionSaveServlet</servlet-name>
        <url-pattern>/PositionSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionDeleteServlet</servlet-name>
        <url-pattern>/PositionDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseSearchServlet</servlet-name>
        <url-pattern>/TestcaseSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimSearchServlet</servlet-name>
        <url-pattern>/SimSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamListServlet</servlet-name>
        <url-pattern>/TeamListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseListServlet</servlet-name>
        <url-pattern>/TestcaseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseDeleteServlet</servlet-name>
        <url-pattern>/TestcaseDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseFormServlet</servlet-name>
        <url-pattern>/TestcaseFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseAddServlet</servlet-name>
        <url-pattern>/TestcaseAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFormServlet</servlet-name>
        <url-pattern>/UserFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSaveServlet</servlet-name>
        <url-pattern>/UserSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimHistoryServlet</servlet-name>
        <url-pattern>/SimHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeSearchServlet</servlet-name>
        <url-pattern>/KnowledgeSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeSaveServlet</servlet-name>
        <url-pattern>/KnowledgeSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeFormServlet</servlet-name>
        <url-pattern>/KnowledgeFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeListServlet</servlet-name>
        <url-pattern>/KnowledgeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeDeleteServlet</servlet-name>
        <url-pattern>/KnowledgeDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamFormServlet</servlet-name>
        <url-pattern>/TeamFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamSaveFormServlet</servlet-name>
        <url-pattern>/TeamSaveFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDeleteServlet</servlet-name>
        <url-pattern>/TeamDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/dashboard.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <description>Character Encoding Filter </description>
        <display-name>encodingFilter </display-name>
        <filter-name>encodingFilter </filter-name>
        <filter-class>EncodingFilter </filter-class>
        <init-param>
            <param-name>encoding </param-name>
            <param-value>UTF-8 </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter </filter-name>
        <url-pattern>/* </url-pattern>
    </filter-mapping>
</web-app>
